@use '../abstracts/mixins';
@use '../abstracts/variables' as *;

body {
	padding: 0;
	margin: 0%;
}
section {
	max-width: 600px;
	width: auto;
	margin: auto;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 10%;
}
img {
    border: 10px solid $image-border-color;
    max-width: 100%;
	height: auto;
	display: block;
}