@use '../abstracts/mixins';
@use '../abstracts/variables' as *;

body {
	padding: 0;
	margin: 0%;
}
section {
	max-width: 600px;
	width: auto;
	margin: auto;
	padding-left: 15%;
	padding-right: 15%;
	top: 200px;
	position: relative;
}
#ani {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
img {
    border: 10px solid $image-border-color;
    max-width: 100%;
	height: auto;
	display: block;
}
iframe {
	width: 800px;
	max-width: 100%;
	aspect-ratio: 3/2;

	}
#map {
	display: flex;
	flex-direction: column;
	margin: auto;
}
#chart {
	max-width: 100%;
	width: 100%;
}
