@charset "UTF-8";
@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: #838383;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background: #b3b3b3;
    color: black;
  }
}
body {
  padding: 0;
  margin: 0%;
}

section {
  max-width: 600px;
  width: auto;
  margin: auto;
  padding-left: 15%;
  padding-right: 15%;
  top: 200px;
  position: relative;
}

#ani {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  border: 10px solid #d4ebf2;
  max-width: 100%;
  height: auto;
  display: block;
}

iframe {
  width: 800px;
  max-width: 100%;
  aspect-ratio: 3/2;
}

#map {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#chart {
  max-width: 100%;
  width: 100%;
}

h1, h2, h3 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-align: center;
  color: #e75ab8;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
  margin-top: 5%;
  margin-bottom: 3%;
}

h3 {
  font-size: 24px;
}

.menu-text {
  font-size: 1.2em;
  color: black;
}

.logo {
  text-decoration: none;
  color: black;
}

.menu-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 15px;
  background-color: #BBC7A4;
  border: black solid 2px;
  cursor: pointer;
  font-size: 26px;
  font-weight: 400;
}

.open {
  margin: 0 1em;
}

.menu-btn:hover {
  background-color: #AAB395;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.421);
}

.margin-icon {
  margin-right: 10px;
}

.bars {
  display: block;
  width: 20px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

@media only screen and (min-width: 992px) {
  .menu-btn {
    display: none;
  }
  #open-menu {
    display: none !important;
  }
}
#button {
  border: none;
  color: white;
  background-color: #e75ab8;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
}

#button:hover {
  transform: scale(3); /* Gör knappen 10% större */
  transition: transform 0.8s;
}

:root {
  --point-color: #555;
  --size: 5px;
}

.loader {
  overflow: hidden;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 100000;
}

.loader__element {
  border-radius: 100%;
  border: var(--size) solid var(--point-color);
  margin: calc(var(--size) * 2);
}

.loader__element:nth-child(1) {
  animation: preloader 0.6s ease-in-out alternate infinite;
}

.loader__element:nth-child(2) {
  animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}

.loader__element:nth-child(3) {
  animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

@keyframes preloader {
  100% {
    transform: scale(2);
  }
}
#text {
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 800%;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.moving-circle {
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  top: 99%;
  transform: translateY(-50%);
}

@keyframes slideBackAndForth {
  0%, 100% {
    left: 0;
    transform: translateY(-50%);
  }
  50% {
    left: 100%;
    transform: translateX(-100%) translateY(-50%);
  }
}
.moving-circle {
  animation: slideBackAndForth 5s infinite alternate;
}

nav {
  background-color: #BBC7A4;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.71);
  font-size: 20px;
  font-family: Roboto;
  font-weight: 700;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  display: none;
}
nav ul {
  width: 100%;
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
nav ul li {
  padding: 0.8em 0;
  width: 100%;
}
nav ul li:hover {
  background-color: #AAB395;
  cursor: pointer;
}
nav ul li a {
  color: black;
  text-decoration: none;
  padding: 0 1em;
}

@media only screen and (min-width: 992px) {
  nav {
    display: block !important;
    position: static;
    box-shadow: 0 0px 0px;
    right: 0;
    top: 0;
    height: auto;
    font-size: 1.4em;
    width: auto;
  }
  nav ul {
    height: 100%;
  }
  nav li {
    display: inline;
    padding: 1.2em 0;
  }
}
header {
  height: 80px;
  background-color: #BBC7A4;
  margin: auto;
  width: 100%;
  padding: 0%;
  position: fixed;
  z-index: 2;
  top: 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  position: relative;
  width: 100%;
  padding: 0%;
}

@media only screen and (min-width: 992px) {
  header {
    padding: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
